*{
    padding:0;
    margin:0;
    
}
html, body {
    position: relative;
    text-align: center;
    min-height:100vh;
}
#loading1 {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #fff center;
    z-index: 99999;
    text-align: center;
}
#loading1 img{
    width:50px;
    margin-top:10%;
    vertical-align:central;
}
.everything{
    padding-bottom:10%;
}
.my-container{
    padding:3% 5%;
}

.navigation{
    margin-top:10px;
}
.gotohome {
    margin-top: 1%;
    border: none;
    color: #aaaaaa;
    font-family: 'Balsamiq Sans', cursive;
    border: solid #aaaaaa;
    padding:5px;
}

.gotohome:hover {
    text-decoration: none;
    color: #aaaaaa;
}
.my-container .navigation .update-details {
    color: #aaaaaa;
    font-family: 'Balsamiq Sans', cursive;
    margin-top: 2%;
    margin-right: 20%;
    text-align: start;
    background-color: transparent;
    border: none;
    align-content: flex-start;
}
.my-container .navigation .update-details:hover {
    text-decoration: none;
    color: #aaaaaa;
}
.my-container .navigation .logout {
    color: #aaaaaa;
    font-family: 'Balsamiq Sans', cursive;
    margin-top: 2%;
    margin-left: 20%;
    text-align: end;
    background-color: transparent;
    border: none;
    align-content: flex-end;
}

.my-container .navigation .logout:hover {
    text-decoration: none;
    color: #aaaaaa;
}
.hello {
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    color:#aaaaaa;
}
.my-container .heading {
    margin-right:20px;
    margin-left:20px;
    font-family: 'Lobster', cursive;
    font-size:250%;
    color: blue;
}
.my-container .new-list-btn {
    margin-top: 7%;
    border: none;
    width:100%;
    background-color: #13095d;
    padding: 10px 30px;
    color: #fff;
}
.my-container .new-list-btn :focus{
    box-shadow:none;
    outline:none;
}
.notes {
    margin-top: 50px;
}
.row{
    display:flex;
    width:100%;
    overflow:hidden;
}

.my-note {
    margin-top: 5%;
    background-color: white;
    box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.3);
    width: 100%;
    padding:5px 10px 5px 10px;

}

.my-note hr{
    margin-top:-6px;
}

.my-note .row1{
    display:flex;
}
.row1 .barcode-button{
    display:flex;
    width:100%;
    margin-bottom:10px;
}
.barcode-button .barcode-name{
    margin-left:5px;
    margin-top:10px;
    display:block;
    width:80%;
    color:#aaaaaa;
}
.barcode-button .button {
    text-align:right;
    margin-top:-5px;
    margin-right:10px;
    display: block;
    width: 20%;
    float:right;
}

.footer {
    align-content: center;
    width: 100%;
    position: absolute;
    margin-bottom: 10%;
    bottom: 0;
}

.footer hr {
    margin: 0px 20%;
}

.footer .made-by {
    color: #aaaaaa;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}


